<div th:fragment="header">

    <div class="container w-75 p-3">
        <nav class="navbar navbar-expand-xl navbar-light">
            <div class="container-fluid fs-5">
                <a class="navbar-brand fs-1" href="/">
                    <img src="/images/School_21_logo_black.png" alt="Info21" width="100px" height="auto">
                    RetailAnalitycs
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav ms-auto">
                        <a class="nav-link active" aria-current="page" href="/">Главная</a>
                        <a class="nav-link" href="/data">Данные</a>
                        <a class="nav-link" href="/suggestions">Аналитика</a>
                        <a class="nav-link" href="/sqlQuery" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">SQL запрос</a>
                        <a class="nav-link" href="/about">О нас</a>
                        <div>
                            &nbsp;&nbsp;&nbsp;
                        </div>
                        <a class="nav-link" href="/logout">Выход</a>
                    </div>
                    <div>
                        [<span th:text="${#authentication.name}"></span>]
                    </div>
                </div>
            </div>
        </nav>
    </div>

</div>