<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Демо Bootstrap</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="~{header/header :: header}"></header>
<main>
    <div class="container w-50 p-3">
        <p class="text-start fs-4">Web-интерфейс для проекта SQL3. Приложение с использованием MVC-фреймворка (Spring).
            Приложение поддерживает CRUD-операций, импорт/экспорт таблиц, формирование "персональных предложений" через графический интерфейс,
            поддерживает авторизацию пользователей по ролям (Администратор, Посетитель), а также логирование действий пользователей.</p>
    </div>
    <div class="container w-50 p-3">
        <div class="row gx-5">
            <div class="col">
                <img src="/images/kazan-1.jpg" class="img-fluid">
            </div>
            <div class="col">
                <img src="/images/XXL_height.jpg" class="img-fluid">
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{footer/footer :: footer}"></footer>
</body>
</html>
