<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SkuGroups</title>
    <link rel="stylesheet" href="/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
<header th:insert="~{header/header :: header}"></header>
<main>
    <div class="container w-50 p-2">
        <p class="text-start fs-1">Магазины</p>
    </div>
    <div class="container w-50 p-2">
        <div style="max-height: 800px; overflow-x: auto;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Transaction_Store_ID</th>
                    <th scope="col">SKU</th>
                    <th scope="col">SKU_Purchase_Price</th>
                    <th scope="col">SKU_Retail_Price</th>
                    <th scope="col" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"></th>
                    <th scope="col" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="it : ${stores}">
                    <td th:text="${it.id}"></td>
                    <td th:text="${it.transactionStore}"></td>
                    <td th:text="${it.sku}"></td>
                    <td th:text="${it.skuPurchasePrice}"></td>
                    <td th:text="${it.skuRetailPrice}"></td>
                    <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <a class="btn btn-outline-secondary btn-sm" style="float: right" th:href="'/stores/updates/' + ${it.id}">Обновить</a>
                    </td>
                    <td th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                        <form action="/stores/delete" method="post">
                            <input type="hidden" name="id" th:value="${it.id}">
                            <input class="btn btn-outline-danger btn-sm" style="float: right" type="submit" value="Удалить"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="container p-1" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <p class="text-start fs-3">Добавить Магазин</p>
        </div>
        <div class="container p-1" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
            <div class="row">
                <div class="col align-self-start">
                    <form action="/stores/add" method="POST">
                        <div class="mb-3">
                            <label for="transaction_store_id" class="form-label"> Номер Магазина </label>
                            <select class="form-select"  id="transaction_store_id" name="transactionStore" required="required">
                                <option th:each="it : ${transactionStore}" th:value="${it}" th:text="${it}"/>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sku_id" class="form-label"> Товар </label>
                            <select class="form-select"  id="sku_id" name="sku" required="required">
                                <option th:each="it : ${skus}" th:value="${it.id}" th:text="${it.skuName}"/>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="sku_purchase_price" class="form-label"> Закупочная цена </label>
                            <input class="form-control" type="number" step="0.01" id="sku_purchase_price" name="skuPurchasePrice" required="required"/>
                        </div>
                        <div class="mb-3">
                            <label for="sku_retail_price" class="form-label"> Розничная цена </label>
                            <input class="form-control" type="number" step="0.01" id="sku_retail_price" name="skuRetailPrice" required="required"/>
                        </div>
                        <input class="btn btn-primary btn-sm" type="submit" value="Добавить"/>
                    </form>
                </div>
                <div class="col align-self-center">
                </div>
            </div>
        </div>
        <hr>
        <div class="container p-1">
            <div class="row">
                <div class="col align-self-start">
                    <p class="text-start fs-3">Выгрузить CSV</p>
                    <form enctype="multipart/form-data" action="/stores/unload">
                        <div>
                            <input class="btn btn-primary btn-sm" type="submit" value="Выгрузить"/>
                        </div>
                    </form>
                </div>
                <div class="col align-self-end" th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}">
                    <p class="text-start fs-3">Загрузить CSV</p>
                    <form enctype="multipart/form-data" action="/stores/upload" method="POST">
                        <div>
                            <input class="btn btn-light btn-sm" required = "required" name="file" type="file" accept=".csv">
                            <input class="btn btn btn-primary btn-sm" type="submit" value="Загрузить"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:insert="~{footer/footer :: footer}"></footer>
</body>
</html>
